:root {
    --color-gray: #eee;
}

/* Start Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

* {
    margin: 0;
}

/*------End Reset------*/


body {
    background: var(--color-gray);
    padding: 1rem;
}

/* Card */
.container .library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.card {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 5px 5px 6px #0005;
    background: #fff;
    position: relative;
}

.card:hover {
    background: #eee;
}

/* Book Image - Card */
.cover {
    width: 100%;
    height: 150px;
    object-fit: contain;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
}

/* Remove Button - Card */
.remove-button {
    width: 20px;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Text Content - Card */
.text {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0.5rem;
}

.title {
    font-size: 1.3rem;
    justify-self: baseline;
}

.text p:not(.title) {
    font-size: 0.8rem;
    font-family: sans-serif;
}

.pages,
.read {
    justify-self: end;
    align-self: center;
}

.read {
    width: 20px;
}

/* Add Book Button */
.container> :last-child {
    display: block;
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    background: #eee;
    margin: 0 auto;
}

.container> :last-child:hover {
    filter: invert(1);
}

.container> :last-child>* {
    display: inline-block;
    vertical-align: bottom;
}

/* Dialog Form */
dialog {
    place-self: center;
    position: fixed;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: 1px solid;
}

dialog::backdrop {
    background: #000d;
}

form>* {
    margin-bottom: 1rem;
}

form h1 {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: -1rem;
}

button.close:has(img) {
    visibility: hidden;
}

.image.close img {
    position: absolute;
    top: 8px;
    right: 8px;
    visibility: visible;
}

form p label {
    display: block;
    margin-right: 0.5rem;
}

form *:focus {
    outline: 2px solid #000;
}

form input[type=text],
form button {
    width: 100%;
}

form input[type=number] {
    width: 9ch;
}

form div p {
    margin-bottom: 0.5rem;
}

form div label {
    margin-left: 0.25rem;
}

form div input:last-of-type {
    margin-left: 1rem;
}

form button[type="submit"] {
    background-color: #000;
    color: #fff;
    border-radius: 0.25em;
    border: none;
    padding: 0.5em 0;
    border: 1px solid transparent;
}

form button[type="submit"]:hover,
form button[type="submit"]:focus {
    border: 1px solid #fff;
    outline: 3px solid #000;
}