:root {
    --color-gray: #eee;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

* {
    margin: 0;
}

/* End Reset */

body{
    background: var(--color-gray);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.card {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 5px 5px 6px #0005;
    background: #fff;
}

.card:hover {
    background: #eee;
}

.cover {
    width: 100%;
    height: 150px;
    object-fit: contain;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
}

.text {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0.5rem;
}

.title {
    font-size: 1.3rem;
    justify-self: baseline;
}

.text p:not(.title) {
    font-size: 0.8rem;
    font-family: sans-serif;
}

.pages, .read {
    justify-self: end;
    align-self: center;
}

.read {
    width: 20px;
}